{
    "addrs": ["127.0.0.1:12345","127.0.0.1:12346","127.0.0.1:12347"],
    "log_window_sz": 8,
    "log_num_buckets": 8,
    "depth": 8,
    "malicious": true,
    "query_type": "range",
    "reps": 1,
    "run_name": "test",
    "num_ands": 8,
    "num_searches": 0,
    "num_appends": 0,
    "seconds": 0,
    "experiment_dir": "/home/ec2-user/dorydb/tmp"
}
